/*
 * buttons
 */

button {
    margin: 0;

    & + button {
        margin: 0 0 0 5px;
    }
}

/*
 * modals
 */

.modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    overflow: hidden;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    &__header {
        padding: 20px;
        font-size: 20px;
    }

    &__content {
        padding: 20px;
    }

    &__footer {
        padding: 20px;
        background: #F7F7F7;
    }
}

/*
 * fields
 */

input {
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 7px 5px;
    background-color: #fff;
    color: #2a2a3e;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    transition: all 150ms linear;
}

/*
 * tabels
 */

table {
    border-collapse: collapse;
    width: 100%;
    border: 0;

    thead {
        background: #ddd;
    }

    tr {
        th, td {
            text-align: left;
            padding: 6px 15px;
        }

        td {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover {
            background: #ddd;
        }
    }
}

/*
 * loaders
 */

.is-loading {
    position: relative;
    border: none;
    overflow: hidden;
    z-index: 1000;
    border-radius: 0 !important;
    min-height: 85px;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(#93a739, 0.06);
        top: 0;
        left: 0;
        z-index: 1000;
        animation: loaderOpacity 0.2s linear 0s 1 normal forwards running;
    }
}

.is-error {
    background: red;
}

.loader {
    height: 16px;
    width: 105px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &.loader--blur {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
    }
  
    &__wrap {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
  
    &__circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #333;
        animation: move 500ms linear 0s infinite;
        margin-right: 30px;

        &:first-child {
            position: absolute;
            top: 0;
            left: 0;
            animation: grow 500ms linear 0s infinite;
        }

        &:last-child {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 0;
            animation: grow 500ms linear 0s infinite reverse;
        }
    }

    &__text {
        margin-top: 15px;
    }
}

@keyframes grow {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
        background: #666;
    }
}


@keyframes move {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(45px);
    }
}
